<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vss.suportebasicodevida5" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sbv_verificar_estado_de_consciencia"
            android:label="@string/title_activity_sbv_verificar_estado_de_consciencia" >
        </activity>
        <activity
            android:name=".sbv_abertura_da_via_aerea"
            android:label="@string/title_activity_sbv_abertura_da_via_aerea" >
        </activity>
        <activity
            android:name=".sbv_vos"
            android:label="@string/title_activity_sbv_vos" >
        </activity>
        <activity
            android:name=".sbv_respira"
            android:label="@string/title_activity_sbv_respira" >
        </activity>
        <activity
            android:name=".sbv_compressoes_toraxicas_e_insuflacoes"
            android:label="@string/title_activity_sbv_compressoes_toraxicas_e_insuflacoes" >
        </activity>
        <activity
            android:name=".sbv_pls"
            android:label="@string/title_activity_sbv_pls" >
        </activity>
        <activity
            android:name=".eng_pedir_para_tossir"
            android:label="@string/title_activity_eng_pedir_para_tossir" >
        </activity>
        <activity
            android:name=".eng_dar_pancadas_nas_costas"
            android:label="@string/title_activity_eng_dar_pancadas_nas_costas" >
        </activity>
        <activity
            android:name=".eng_manobra_de_heimlich"
            android:label="@string/title_activity_eng_manobra_de_heimlich" >
        </activity>
        <activity
            android:name=".sbv_compressoes_toraxicas_e_insuflacoes_segunda_parte"
            android:label="@string/title_activity_sbv_compressoes_toraxicas_e_insuflacoes_segunda_parte" >
        </activity>
        <activity
            android:name=".sbv_compressoes_toraxicas_e_insuflacoes_terceira_parte"
            android:label="@string/title_activity_sbv_compressoes_toraxicas_e_insuflacoes_terceira_parte" >
        </activity>
        <activity
            android:name=".sbv_compressoes_toraxicas_e_insuflacoes_quarta_parte"
            android:label="@string/title_activity_sbv_compressoes_toraxicas_e_insuflacoes_quarta_parte" >
        </activity>
        <activity
            android:name=".sbv_pls_segunda_parte"
            android:label="@string/title_activity_sbv_pls_segunda_parte" >
        </activity>
        <activity
            android:name=".sbv_pls_terceira_parte"
            android:label="@string/title_activity_sbv_pls_terceira_parte" >
        </activity>
        <activity
            android:name=".sbv_pls_quarta_parte"
            android:label="@string/title_activity_sbv_pls_quarta_parte" >
        </activity>
        <activity
            android:name=".eng_manobra_de_heimlich_segunda_parte"
            android:label="@string/title_activity_eng_manobra_de_heimlich_segunda_parte" >
        </activity>
        <activity
            android:name=".eng_manobra_de_heimlich_terceira_parte"
            android:label="@string/title_activity_eng_manobra_de_heimlich_terceira_parte" >
        </activity>
    </application>

</manifest>
